<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%-title%></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <% if (typeof(link) !== 'undefined' && link.length > 0) { %>
  <% for (var i = 0;i < link.length;i++) { %>
  <link rel="stylesheet" href="<%-(staticPath + link[i])%>">
  <% } %>
  <% } %>
  <script src="<%-(staticPath)%>common.js"></script>
</head>
<body>
